button, .button, input[type="submit"] {
    display: inline-block;
    cursor: pointer;
    padding: 16px 48px;
    font-weight: 700;
    border-radius: 12px;
}
//! Ссыилка, как кнопка
a.button {
    text-decoration: none;

}
.button {
    //! Цвет кнопки
    &--primary {
        background-color: $accent;
        color: white;
    }
    &--transparent {
        background-color: transparent;
        color: $dark;
        border-width: 2px;
        border-style: solid;
        border-color: darken($accent, 15%);
    }
    &--bw {
        color: $dark;
        border: none;

    }
    //! Размер кнопки
    &--default {
        padding: 16px 48px; 
    }
    &--s {
        padding:12px 16px;
    }
    &--xs {
        padding: 7px 12px;
    }

}